// --- 01 TYPOGRAPHY SYSTEM
// - Font weights
// Default: 400
// Medium: 500
// Semi-bold: 600
// Bold: 700

// - Line heights
// Default: 1
// Small: 1.05
// Medium: 1.2
// Paragraph default: 1.6
// Large: 1.8
// - Letter spacing
// -0.5px
// 0.75px

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #444;
  letter-spacing: -0.5px;
}

.heading-primary {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.05;
}

.heading-secondary {
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 1.2;
}
