// --- 02 COLORS

:root {
  // Primary:
  --color-primary: #263649;
  --color-secondary: #fbdba2;

  --color-btn: #fd736c;
  --color-btn-hover: #fd817b;

  // Tints:
  --color-background: rgb(255, 255, 255);
  --color-background-shade: #fceec2;

  // --- 03 SHADES:

  // --- 04 ACCENTS:

  /// --- 05 SHADOWS
  --shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  // --- 06 WHITESPACE
}
